<app-profile-editor></app-profile-editor>
<hr>
<app-name-editor></app-name-editor>
<hr>
<app-check-test></app-check-test>
<h1>{{title}}</h1>

<button (click)="change()">dirtyChecking </button>

<nav>
        <a routerLink="/jiaos">jiaos</a>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/JiaoList">JiaoList</a>
      </nav>
<router-outlet></router-outlet>
<!-- <app-heroes></app-heroes>
<hr>
<app-jiaos></app-jiaos> -->
<!-- <app-jiao-list></app-jiao-list> -->
<app-messages></app-messages>
