<label for="name">Name</label>
<input id="name" name="name" class="form-control"
      required minlength="4" appForbiddenName="bob"
      [(ngModel)]="hero.name" #name="ngModel" >

<div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">
  <div *ngIf="name.errors.required">
    Name is required.
  </div>
  <div *ngIf="name.errors.minlength">
    Name must be at least 4 characters long.
  </div>

</div>
<div class="form-group">
  <label for="power">Hero Power</label>
  <select id="power" name="power" class="form-control"
          required [(ngModel)]="hero.power" #power="ngModel" >
    <option *ngFor="let p of powers" [value]="p">{{p}}</option>
  </select>

  <div *ngIf="power.errors && power.touched" class="alert alert-danger">
    <div *ngIf="power.errors.required">Power is required.</div>
  </div>
</div>
<button type="button" class="btn btn-default"
(click)="back(name,power)">back</button>
